body {
  background-color: lightsteelblue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.profileImage{
  padding-left: 50%;
}
.profileImage img{
  height: 250px;
  width: 250px;
  border-radius: 50%; 
  margin-top: 90px;
}
.userInfo{
  padding-left: 50%;
  margin-top: 40px;
}
.userInfo span{
  margin-top: 50px;
}

.profile{

  height: 100%;
  width: 100%
}